body {
    background-image: url("../images/dynamic-style.png");
    background-repeat: repeat;
    height: 100%;
    line-height: 1.5em;
    color: #41414c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navbar {
    color: #eff0f1;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background: #666666;
    color: #8d8d8d;
    height: 3em;
    padding: 1em;
}

a:hover {
    text-shadow: 0 0 5px #b89fbd;
    text-decoration: none;
    color: currentColor;
}
a {
    color:inherit; 
}


h1 {
    font-family: 'Shadows Into Light', cursive;
}

.container {
    margin-top: 5em;
}

#for-buttons {
    margin-top: 2em;
    margin-bottom: 1em;
}

#gif-form {
    margin-bottom: 1em;
}

.btn {
    margin-left: 5px;
}

#gif-view {
    margin-bottom: 4em;
}

/* #gif-view {
    float: left;
    margin: 5px;
} */
